/*
Copyright 2018 The Go Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/

body {
	font-family: Arial, sans-serif;
	font-size: 14px;
}

h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #ddd;
}

h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #ddd;
}

h3 {
    padding-bottom: 0.3em;
    font-size: 1.2em;
    border-bottom: 1px solid #ddd;
}

h1, h2, h3, h4, h5, h6 {
    color: #076678;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

code {
	font-family: Menlo, monospace;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: #eee;
    border-radius: 3px;
}

a {
    color: #0366d6;
    text-decoration: none;
}

.div-wrapper {
	padding: 0 40px 20px 20px;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    min-width: 1012px;
    word-wrap: break-word;
    box-sizing: border-box;
    display: block;
}

table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

td, th {
    padding: 6px 12px;
}

/*------------------------------------------------------------*/

div.play {
	padding: 0 20px 10px 20px;
}

div.play .output pre,
div.play .input textarea {
	padding: 0;
	margin: 0;
	font-family: Menlo, monospace;
	font-size: 14px;
}

div.play .input {
	padding: 10px;
	margin-top: 10px;
	overflow: hidden;
	max-width: 600px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
div.play .input textarea {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	resize: none;
	overflow: hidden;
}

div.play .input,
div.play .input textarea,
div.play .output,
div.play .output pre {
	color: #3c3836;
	background: #fff5d7;
}

div.play .output {
	padding: 10px;
	overflow: auto;
	max-height: 200px;
	max-width: 600px;
	border-top: none !important;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 0;
}
div.play .output pre {
	padding: 0;
	border-radius: 0;
}

div.play .input,
div.play .output {
	border: 1px solid #3c3836;
}

div.play .buttons {
	padding: 0 0 10px 0;
}

.button {
    background: #ebdbd2;
    border: none;
    color: #3c3836;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #3c3836;
	border-top: none !important;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
